body{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    padding: 1em;
    gap: 2em;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    flex-direction: row;
    margin: 0;
    padding: 0;
    gap: 10px;
    max-width: 60%;
}
.gallery li {
    flex: 1 1 calc(33.333% - 20px); /* Üç sütun düzeni */
    box-sizing: border-box;
  }
  
.gallery img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px; 
}

input#name-input{
    max-width: 30%;
}

#form-button{
    background-color: rgb(75, 75, 236);
    color: white;
}

.change-color{
    background-color: rgb(75, 75, 236);
    color: white;
}